TABLE.bracket TH.header
{
	font: italic small-caps bold 10px/14px "arial black";
}

TABLE.bracket TH.subheader
{
	font: italic small-caps bold 7px/7px "arial black";
}

TABLE.bracket TD
{
	font:7px "arial";
}

TABLE.bracket TD.oddChampion
{
	font: bold 7px "arial";
}

.teamname
{
        font-size : 7px;
}

.missedpick
{
        font-size : 7px;
}

.correctpick
{
        font-size : 7px;
}

.pendingpick
{
        font-size : 7px;
}
