<h1><%=@pool.name%> Entries For <%=current_user.login%></h1>

<% if @entries.empty? %>
<p>
You have no entries.
</p>
<% else %>
<ul>
<% @entries.each do |entry| %>
<li><%= link_to entry.name, :action => 'show', :id => entry.id %> <% if entry.completed %><span class="entryCompleted">COMPLETED</span><%else%><span class="entryPending">PENDING</span><%end%></li>
<% end %>
</ul>
<% end %>
<p>
<%= link_to 'Create a new entry', :action => 'new', :id => @pool.id %>
</p>
