<%= error_messages_for :user %>

<h1>Choose a new password</h1>

<% form_for :user do |f| -%>
<div>
  New Password: <%= f.password_field :password %>
</div>
<div>
  Confirm Password: <%= f.password_field :password_confirmation %>
</div>
<div>
<%= submit_tag 'Change Password' %>
</div>
<% end -%>
